<div class="container-fluid text-bg-light p-3">

    <div>
        <ul class="nav nav-pills nav-fill" style="background-color: #C13584;">
            <li class="nav-item">
            <a class="nav-link" style="color: #fff;" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" style="color: #fff;" href="#">Post</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff;">Like</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" style="color: #fff;" aria-disabled="true">Profile</a>
            </li>
        </ul>
    </div>
    <div class="row align-items-center justify-content-center p-3">
        <div class="col col-md-3">
            <div class="card" style="width: 25rem;">
                <img src="../../../assets/images/insta1.jpg" class="card-img-top" style="width: 25rem; height: 30rem;" alt="user pic">
                <div class="card-body">
                <p class="card-text">My first instagram post</p>
                </div>
            </div>
        </div>
    <div class="row align-items-center justify-content-center p-3">
        <div class="col col-md-3">
            <div class="card" style="width: 25rem;">
                <img src="../../../assets/images/isnta2.jpg" class="card-img-top" style="width: 25rem; height: 30rem;" alt="user pic">
                <div class="card-body" *ngFor ="let comment of comments">
                <p class="card-text">{{comment}}</p>
                </div>
            </div>
        </div>
    </div>

    </div>


</div>